@use '@shared-styles/utils/sx-extends' as *;
@use '@shared-styles/variables/sx-colors' as *;
@use '@shared-styles/variables/sx-sizes' as *;

.bx-page-header-content__user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: $size-2;
  margin-left: $size-container-padding-y * -1;
  margin-right: $size-container-padding-y * -1;
  padding: $size-2 $size-container-padding-y;
  background-color: $color-menubar-background;
  border-bottom: 1px solid $color-menubar-border;
}
