@use '@shared-styles/utils/sx-extends' as *;
@use '@shared-styles/variables/sx-colors' as *;
@use '@shared-styles/variables/sx-sizes' as *;

.bx-page-footer-content {
  @extend %flex-center;

  padding-top: $size-3;
  padding-bottom: $size-3;
  margin-top: $size-3;
  width: 100%;
  border-top: 1px solid $color-menubar-border;
}
