@use '@shared-styles/variables/sx-colors' as *;
@use '@shared-styles/variables/sx-sizes' as *;

.bx-form__footer {
  display: flex;
  justify-content: flex-end;
  gap: $size-3;
  margin-top: $size-5;
  padding-top: $size-5;
  border-top: 1px solid $color-prime-menubar-border;
}
