@use '@shared-styles/variables/sx-colors' as *;
@use '@shared-styles/variables/sx-sizes' as *;

.bx-card {
  padding: $size-3;
  background-color: $color-white;
  border: 1px solid $color-prime-menubar-border;
  border-radius: $size-menubar-border-radius;
}

.bx-card__heading {
  margin-top: 0;
}

.bx-card__utility {
  display: flex;
  justify-content: flex-end;
  gap: $size-gap-default;
  margin-top: $size-3;
  padding-top: $size-3;
  border-top: 1px dashed $color-prime-menubar-border;
}
