@use '@shared-styles/variables/sx-sizes' as *;

.sx-container {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: $size-container-padding-y;
  padding-right: $size-container-padding-y;
}
